/* Estilo para a galeria de vídeos */
.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 15px;
    padding-bottom: 20px;
    justify-content: center;
    background-color: red; /* Preenche a área ao lado dos vídeos com a cor vermelha */
    padding: 10px; /* Adiciona um padding interno para dar mais espaço entre as bordas e as imagens */
}

/* Estilo das imagens de vídeos */
.categoria-videos a {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.categoria-videos img {
    opacity: 0.7;
    height: 250px;
    width: auto;
    border-radius: 8px;
    transition: opacity 0.3s, transform 0.3s;
}

.categoria-videos a:hover img {
    opacity: 1;
    transform: scale(1.05);
    border: 3px solid rgb(42, 122, 228);
}

.categoria-videos a:hover {
    transform: translateY(-10px);
}
